/* Estutura inicio*/

:root {
    --primary-color: #111111;
    --secundary-color: #3d3636;
    --white-color: #ffffff;
    --background-color1: #f9f9f9;
    --accent-color: #0a66c2;
    --max-width: 120rem;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 1.6rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

span {
    font-weight: 500;
}


/*Estrutura final*/


/*Menu Inicio*/

.header {
    width: 100%;
    border-bottom: 1px solid var(--white-color);
    position: fixed;
    background-color: var(--white-color);
    z-index: 1;
}

.header-container {
    max-width: var(--max-width);
    margin:  0 auto;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: var(--gap);
}

.nav-list a{
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: var(--accent-color);
}

/*Menu Final*/

/*Hero Inicio*/

.hero {
    padding: 8rem 3rem;
}

.hero-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 8rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-content {
    max-width: 60rem;
    animation: slideLeft 0.8s ease forwards;
}

.hero-title {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero-text {
    font-size: 1.8rem;
    color: var(--secundary-color);
    margin-bottom: 3rem;
}

.hero-button {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 500;
    border-radius: 0.4rem;
    transition: opacity 0.3s ease;
}

.hero-button:hover {
    opacity: 0.8;
}

.hero-img {
    animation: slideRight 1s ease forwards;
}

.hero-img  img{
    width: 28rem;
    height: 28rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.hero-img img:hover {
    opacity: 0.9;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    transition: 0.3s ease;
}

/*Hero Final*/


/*Sobre Inicio*/

.about {
    padding: 8rem 3rem;
    background-color: var(--background-color1);
}

.about-container {
    max-width: var(--max-width);
    margin: 0 auto;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
}

.about-title {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.about-text p {
    font-size: 1.7rem;
    color: var(--secundary-color);
     margin-bottom: 2rem;
}


/*Sobre Final */

/* Projetos Inicio */

.projects {
    padding: 8rem 3rem;
}

.projects-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.projects-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
}

.projects-card {
    background-color: #ffffff;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.projects-card:hover {
    transform: translateY(-8px);
}

.projects-card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.projects-about {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.projects-info {
    padding: 2rem;
}

.projects-description {
    font-size: 1.6rem;
    color: var(--secundary-color);
    margin-bottom: 2rem;
}

.projects-link {
    display: flex;
    gap: 2rem;
}

.projects-link a {
    color: var(--secundary-color);
    font-size: 1.4rem;
    transition: opacity 0.3s ease;
}

.projects-link:hover a {
    opacity: 0.7;
}

/* Projetos Inicio */

/* Habilidades Inicio */

.skills {
    padding: 8rem 3rem;
    background-color: var(--background-color1);
}

.skills-title {
    font-size: 3rem;
}

.skills-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.skills-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.skills-card {
    background-color: var(--white-color);
    padding: 3rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.skills-card:hover {
    transform: translateY(-6px);
}

.skills-card h3{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.skills-card ul {
    list-style: none;
}

.skills-card li {
    margin-bottom: 1rem;
    color: var(--secundary-color);
}

.skill-item {
    margin-bottom: 1.5rem;
}

.skill-item span {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: var(--accent-color);
    border-radius: 5px;
}

.html { width: 70%;
 }

.css { width: 55%; 
}

.js { width: 30%;
 }

.react { width: 10%; 
}

.python { width: 45%; 
}

.node { width: 15%; 
}

.git { width: 30%; 
}

.vscode { width: 70%; 
}

/* Habilidades Final */

/* Contatos Inicio */

.contact {
    padding: 8rem 3rem;
    text-align: center;
}

.contact-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.contact-text {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-style: italic;
    color: var(--secundary-color);
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    flex-wrap: wrap;
}

.contact-button {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s ease;
}

.contact-button:hover {
    transform: translateY(-5px);
    filter: brightness(1.1);
}

.contact-button.linkedin {
    background-color: #0A66C2;
}

.contact-button.github {
    background-color: #000;
}

.contact-button.whatsapp {
    background-color: #25b459;
}

/* Contatos Final */

/* Footer Inicio*/

.footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 3rem 2rem;
    text-align: center;
}

.footer-name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.footer-rule {
    font-size: 1rem;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.footer-copy {
    font-size: 0.9rem;
    color: var(--white-color);
}

/*Footer Final*/



/*Keysframe*/

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {  
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Keysframe*/

/*Medias*/

@media (max-width: 1024px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }

    .contact-links {
        flex-direction: column;
        align-items: center;
    }

    .contact-button {
        width: 80%;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--white-color);
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
        display: none;
    }

    .nav-list.active {
    display: flex;
    }
    .menu-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2) {
    opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }

}

@media (max-width: 480px) {
    
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .contact-button {
        width: 100%;
    }
}